<ul>
<li>区域管理番号：<%= @addresskarimasters.cardnumber %>-<%= @addresskarimasters.branchnumber %></li>
<li>旧区域カード：<%= @addresskarimasters.oldcardnumber %></li>
<li>かな名称：<%= @addresskarimasters.kananame %></li>
<li>コメント：<%= @addresskarimasters.memo %></li>
</ul>
